<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risk factors page</title>
  </head>
<body> <%- include('../partials/header_2') %>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col bg-secondary">
      </div>
      <div class="wCol col-10 col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <%- include('../partials/header_prog') %>
        <h5>Укажите риск-факторы: </h5>
        <div id="accListRF">
        </div>
        <br>
        <button type="button" class="btn btn-primary" id="btnOne">Принять</button>
        <br>
        <br>
        <br>
        <br>
      </div>
      <div class="col bg-secondary">
      </div>
    </div>
    <%- include('../partials/footer') %>
</body>
<html>