<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concl page</title>
  </head>
<body> <%- include('../partials/header_2') %>
    <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col bg-secondary">
          </div>
          <div class="wCol col-10 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <%- include('../partials/header_prog') %>
            <h5>Оценка риска ВТЭО: </h5>
            
    <div class="textContainer" id="tCont"></div>
    <!-- <div id='divT_2'>Шкалы риска ВТЭО:</div>
    <div id='divT_3'>Шкалы риска кровотечения при профилактике ВТЭО:</div> -->

    <!-- <p id='pBestConclusion' hidden>Риск ВТЭО низкий. Медикаментозная профилактика не показана.</p> -->
    <button type="button" class="btn btn-primary" id="btnOne">Принять</button>
</div>
<div class="col bg-secondary">
</div>
</div>
<%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
    <!-- <script src="/scripts/gfr.js"></script>
    <script src="/scripts/modal_alert.js"></script>
    <script src="/js/vte_watch/vte_concl.js" defer></script> -->
</body>
<html>
