<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTE scales page</title>
  </head>
<body>
    <a name="top"></a>
    <%- include('../partials/header_2') %>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col bg-secondary">
            </div>
            <div class="wCol col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">

                <p><a href="#aPadua" >Шкала Padua оценка риска ВТЭО у госпитализированных больных.</a></p>
                <p><a href="#aCHA2DS2-VASc">Шкала CHA2DS2-VASc для прогнозирования риска ишемического инсульта и
                        истемного тромбоэмболизма при фибрилляции предсердий.</a></p>
                <p><a href="#aHAS-BLED">Шкала HAS-BLED для оценки риска кровотечения у пациентов с фибрилляцией
                        предсердий.</a></p>
                <p><a href="#aIMPROVE">Шкала IMPROVE для оценки риска кровотечений для терапевтических пациентов
                        (включая онкологических пациентов).</a></p>
                <p><a href="#aCaprini">Шкала Caprini для оценки риска ВТЭО у хирургических пациентов (исключая
                        ортопедических/травматологических пациентов).</a></p>
                <p><a href="#aSurgRiskVTERU">Российская шкала качественной оценки риска ВТЭО у хирургических
                        больных.</a></p>
                <p><a href="#aMajorBleedScore">Шкала Major Bleeding Score - оценка риска большого кровотечения у
                        хирургических пациентов.</a></p>
                <p><a href="#aTraumRiskVTERU">Шкала риска ВТЭО в травматологии.</a></p>
                <p><a href="#aTraumBleedRiskRU">Шкала оценки риска кровотечений при больших травматологических
                        вмешательствах.</p>
                </a></p>
                <p><a href="#aGreenTopGuideline37a">Шкала RCOG GreenTopGuideline37a оценки риска ВТЭО во время родов
                        и в послеродовом периоде (модифицированная) (RCOG GreenTopGuideline37a).</a></p>
                <p><a href="#aGreenTopGuideline37aRu">Оценка риска ВТЭО во время родов и в послеродовом периоде
                        (модифицированная) (RCOG GreenTopGuideline37a).</a></p>
                <p><a href="#aGreenTopGuideline37aBleedRisk">Факторы риска кровотечения во время беременности, родов
                        и послеродового периода (RCOG GreenTopGuideline37a).</a></p>

                <p><a href="" class="clsExit"><i class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                <p><a name="aPadua"></a>Факторы риска ВТЭО у госпитализированных больных шкала <b>Padua</b></p>
                <table class="table table-sm table-hover">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col-10">Фактор риска</th>
                        <th scope="col-2">Баллы</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>активное онкологическое заболевание (пациенты с метастазами в региональные лимфоузлы или с
                            отдаленными метастазами, которые получали химиотерапию или лучевую терапию в течение последних 6
                            месяцев)</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>ВТЭ в анамнезе (кроме тромбоза поверхностных вен)</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>иммобилизация (планируется постельный режим [с возможностью пользоваться ванной/туалетом] в
                            связи со сниженной двигательной мобильностью больного или рекомендациями врача в течение ≥ 3
                            дней)</td>
                        <td>3</td>
                      </tr>
                        <td>диагностированная тромбофилия (дефицит антитромбина, протеина C или S, фактора V Лейдена,
                            мутация G20210A гена протромбина или антифосфолипидный синдром)</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>недавняя (≤ 1 мес.) травма или хирургическое вмешательство</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>возраст ≥ 70 лет</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>сердечная или дыхательная недостаточность</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>острый инфаркт миокарда или ишемический инсульт</td>
                        <td>1</td>
                      </tr>
                        <td>острая инфекция или ревматологическое заболевание</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>ожирение (ИМТ ≥ 30 кг/м<sup>2</sup>)</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>лечение гормонами</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td class="bg-light" colspan="2"><b>Сумма ≥ 4 баллов — высокий риск ВТЭО</b></td>
                      </tr>
                    </tbody>
                  </table>
               <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up" aria-hidden="true"></i>Вверх</a><a href=""
                        class="clsExit"><i class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                <p><a name="aCHA2DS2-VASc"></a>Шкала <b>CHA2DS2-VASc</b> для прогнозирования риска ишемического инсульта
                    и системного тромбоэмболизма при фибрилляции предсердий</p>
                    <table class="table table-sm table-hover">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col-10">Фактор риска</th>
                            <th scope="col-2">Баллы</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>хроническая сердечная недостаточность</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>гипертоническая болезнь</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>сахарный диабет</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>инсульт/ТИА/системный эмболизм в анамнезе</td>
                            <td>2</td>
                          </tr>
                          <tr>
                            <td>поражение сосудов (инфаркт миокарда в анамнезе, атеросклероз периферических артерий, атеросклероз аорты)</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>возраст 65 – 74 лет</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>возраст > 75 лет</td>
                            <td>2</td>
                          </tr>
                          <tr>
                            <td>пол (женский)</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td class="bg-light" colspan="2"><b>При 0 баллов антитромботическая терапия не рекомендуется, при 1 балле предпочтительна антикоагулянтная терапия, но возможна терапия аспирином. При 2 и более баллов рекомендуется антикоагулянтная терапия</b></td>
                          </tr>    
                        </tbody>
                      </table>
                <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up" aria-hidden="true"></i>Вверх</a><a href=""
                        class="clsExit"><i class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                <p><a name="aHAS-BLED"></a>Шкала <b>HAS-BLED</b> для оценки риска кровотечения у пациентов с
                    фибрилляцией предсердий</p>
                    <table class="table table-sm table-hover">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col-10">Фактор риска</th>
                            <th scope="col-2">Баллы</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>гипертония (систолическое артериальное давление > 160 мм рт.ст.)</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>нарушение функции почек (хронический диализ, или сывороточный креатинин > 200 мкмоль/л, или наличие в
                                анамнезе трансплантации почки)</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>и/или нарушение функции печени (хроническое заболевание печени или функциональные нарушения: билирубин >
                                2 × верхний предел нормы, или повышение аспартатаминотрансферазы/аланинаминотрансферазы/щелочной
                                фосфатазы > 3 × верхний предел нормы)</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>инсульт</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>кровотечения в анамнезе и/или предрасположенность к ним (например, геморрагический диатез, анемия)</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>лабильное международное нормализованное отношение < 60</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>возраст > 65 лет</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>совместный прием медикаментов (например, антикоагулянтов и нестероидных противовоспалительных
                                препаратов)</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>и/или алкоголя</td>
                            <td>1</td>
                          </tr>
                        <tr>
                          <td class="bg-light" colspan="2"><b>Больные с высоким риском кровотечения (балл по шкале HAS-BLED > 3) должны проходить регулярное клиническое обследование после начала пероральной антикоагулянтной терапии</b></td>
                        </tr>    
                      </tbody>
                      </table>
                    <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up" aria-hidden="true"></i>Вверх</a><a
                            href="" class="clsExit"><i class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                    <p><a name="aIMPROVE"></a>Шкала <b>IMPROVE</b> - оценка риска кровотечений для терапевтических
                        пациентов (включая онкологических пациентов).</p>
                        <table class="table table-sm table-hover">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col-10">Фактор риска</th>
                                <th scope="col-2">Баллы</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>умеренная почечная недостаточность, СКФ 30-59 мл/мин/м<sup>2</sup><td>
                                <td>1</td>
                              </tr>
                              <tr>
                                <td>тяжелая почечная недостаточность, СКФ < 30 мл/мин/м<sup>2</sup></td>
                                <td>2,5</td>
                              </tr>
                              <tr>
                                <td>печеночная недостаточность (МНО > 1,5)</td>
                                <td>2,5</td>
                              </tr>
                              <tr>
                                <td>мужской пол</td>
                                <td>1</td>
                              </tr>
                              <tr>
                                <td>возраст 40-84 лет</td>
                                <td>1,5</td>
                              </tr>
                              <tr>
                                <td>возраст ≥ 85 лет</td>
                                <td>3,5</td>
                              </tr>
                              <tr>
                                <td>активный рак</td>
                                <td>2</td>
                              </tr>
                              <tr>
                                <td>ревматические заболевания</td>
                                <td>2</td>
                              </tr>
                              <tr>
                                <td>центральный венозный катетер</td>
                                <td>2</td>
                              <tr>
                                <td>пребывание в отделении интенсивной терапии в период госпитализации</td>
                                <td>2,5</td>
                              <tr>
                                <td>тромбоциты < 50 × 10<sup>9</sup>/<sub>л</sub></td>
                                <td>4</td>
                              <tr>
                                <td>кровотечение в последние 3 месяца</td>
                                <td>4</td>
                              <tr>
                                <td>активная язва желудка или двенадцатиперстной кишки</td>
                                <td>4,5</td>
                              </tr>
                              <tr>
                                <td class="bg-light" colspan="2"><b>Cумма баллов < 7 - низкий риск, ≥ 7 - высокий риск</b></td>
                              </tr>      
                            </tbody>
                          </table>
                                <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                            aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                            class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                                <p><a name="aCaprini"></a>Шкала <b>Caprini</b> оценки риска ВТЭО у хирургических
                                    пациентов (исключая
                                    ортопедических /травматологических пациентов).</p>
                                    <table class="table table-sm table-hover">
                                        <thead class="thead-light">
                                          <tr>
                                            <th scope="col-10">Фактор риска</th>
                                            <th scope="col-2">Баллы</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>возраст 41–60 лет</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>отек нижних конечностей</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>варикозные вены</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>индекс массы тела более 25 кг/м<sup>2</sup></td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>малое хирургическое вмешательство</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>сепсис (давностью до 1 мес.)</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>серьезное заболевание легких (в т.ч. пневмония давностью до 1 мес.)</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>прием оральных контрацептивов, гормонозаместительная терапия</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>беременность и послеродовый период (до 1 мес.)</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>в анамнезе: необъяснимые мертворождения, выкидыши (≥ 3), преждевременные
                                              роды с токсикозом или задержка внутриутробного развития</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>острый инфаркт миокарда</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>хроническая сердечная недостаточность (давностью до 1 мес.)</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>постельный режим у нехирургического пациента</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>воспалительные заболевания толстой кишки в анамнезе</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>большое хирургическое вмешательство давностью до 1 мес. в анамнезе</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>хроническая обструктивная болезнь легких</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>возраст 61–74 года</td>
                                            <td>2</td>
                                          </tr>
                                          <tr>
                                            <td>артроскопическая хирургия</td>
                                            <td>2</td>
                                          </tr>
                                          <tr>
                                            <td>злокачественное новообразование</td>
                                            <td>2</td>
                                          </tr>
                                          <tr>
                                            <td>лапароскопическое вмешательство (длительностью более 45 мин.)</td>
                                            <td>2</td>
                                          </tr>
                                          <tr>
                                            <td>постельный режим более 72 часов</td>
                                            <td>2</td>
                                          </tr>
                                          <tr>
                                            <td>иммобилизация конечности (давностью до 1 мес.)</td>
                                            <td>2</td>
                                          </tr>
                                          <tr>
                                            <td>катетеризация центральных вен</td>
                                            <td>2</td>
                                          </tr>
                                          <tr>
                                            <td>большая хирургия (длительностью более 45 мин)</td>
                                            <td>2</td>
                                          </tr>
                                          <tr>
                                            <td>возраст старше 75 лет</td>
                                            <td>3</td>
                                          </tr>
                                          <tr>
                                            <td>личный анамнез ВТЭО</td>
                                            <td>3</td>
                                          </tr>
                                          <tr>
                                            <td>семейный анамнез ВТЭО</td>
                                            <td>3</td>
                                          </tr>
                                          <tr>
                                            <td>мутация типа Лейден</td>
                                            <td>3</td>
                                          </tr>
                                          <tr>
                                            <td>мутация протромбина 20210А</td>
                                            <td>3</td>
                                          </tr>
                                          <tr>
                                            <td>гипергомоцистеинемия</td>
                                            <td>3</td>
                                          </tr>
                                          <tr>
                                            <td>гепарин-индуцированная тромбоцитопения</td>
                                            <td>3</td>
                                          </tr>
                                          <tr>
                                            <td>повышенный уровень антител к кардиолипину</td>
                                            <td>3</td>
                                          </tr>
                                          <tr>
                                            <td>волчаночный антикоагулянт</td>
                                            <td>3</td>
                                          </tr>
                                          <tr>
                                            <td>инсульт (давностью до 1 мес.)</td>
                                            <td>5</td>
                                          </tr>
                                          <tr>
                                            <td>множественная травма (давностью до 1 мес.)</td>
                                            <td>5</td>
                                          </tr>
                                          <tr>
                                            <td>эндопротезирование крупных суставов</td>
                                            <td>5</td>
                                          </tr>
                                          <tr>
                                            <td>перелом костей бедра и голени (давностью до 1 мес.)</td>
                                            <td>5</td>
                                          </tr>
                                          <tr>
                                            <td>травма спинного мозга/паралич (давностью до 1 мес.)</td>
                                            <td>5</td>
                                          </tr>
                                          <tr>
                                            <td class="bg-light" colspan="2"><b>Cумма баллов 0 – 1 - низкий риск, 2 -умеренный риск, 3 – 4 - высокий риск, 5 и более - крайне высокий риск</b></td>
                                          </tr>      
                                                    </tbody>
                                      </table>
                                <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                            aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                            class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                                <p><a name="aSurgRiskVTERU"></a>Модифицированная <b>шкала качественной оценки риска ВТЭО
                                        у хирургических
                                        больных</b>.</p>
                    
                                Степень риска низкая <br>
                                малые операции длительностью не более 60 мин, у пациентов до 40 лет без
                                дополнительных факторов риска ВТЭО<br>
                                острые нехирургические заболевания, не требующие постельного режима<br>
                                Степень риска умеренная<br>
                                большие операции у пациентов 40—60 лет без дополнительных факторов риска<br>
                                большие гинекологические операции у пациенток моложе 40 лет на фоне терапии
                                эстрогенами<br>
                                малые операции у пациентов старше 60 лет<br>
                                малые операции у пациентов 40—60 лет с факторами риска<br>
                                госпитализация с хронической сердечной недостаточностью III—IV ФК по NYHA<br>
                                острые инфекционные или воспалительные заболевания, требующие постельного режима<br>
                                острые заболевания легких с дыхательной недостаточностью, не требующие искусственной
                                вентиляции легких<br>
                                изолированные переломы костей голени <br>
                                разрыв связок и сухожилий голени<br>
                                ожоги площадью до 20% поверхности тела<br>
                                термоингаляционная травма II степени<br>
                                Степень риска высокая<br>
                                большие операции у пациентов старше 60 лет<br>
                                большие операции у пациентов 40—60 лет, имеющих дополнительные факторы риска
                                ВТЭО (ВТЭО в анамнезе, рак, тромбофилии и пр.)<br>
                                химио-, рентгено- или радиотерапия у пациентов с онкологическими заболеваниями<br>
                                ишемический инсульт с параличом<br>
                                острое заболевание легких с дыхательной недостаточностью, требующее
                                искусственной вентиляции легких<br>
                                сепсис<br>
                                наличие верифицированной тромбофилии<br>
                                эндопротезирование тазобедренного и коленного суставов, операции при
                                переломах бедра<br>
                                тяжелая и сочетанная травма<br>
                                повреждения спинного мозга<br>
                                ожоги площадью более 20% поверхности тела<br>
                                термоингаляционная травма III степени<br>
                                осложнения ожоговой болезни<br><br>

                                Нестратифицированные риск факторы:<br>
                                возраст > 40 лет (с увеличением риск растет; обычные градации более 40,
                                60 и 75 лет)<br>
                                применение эстроген-гестагенных препаратов (контрацепция или гормональная
                                заместительная терапия)<br>
                                применение селективных модуляторов эстрогеновых рецепторов<br>
                                воспалительные заболевания толстого кишечника<br>
                                нефротический синдром<br>
                                миелопролиферативные заболевания<br>
                                пароксизмальная ночная гемоглобинурия<br>
                                ожирение <br>
                                варикозное расширение вен нижних конечностей<br>
                                катетер в центральной вене<br>
                                беременность и ближайший (до 6 нед) послеродовый период<br><br>

                                Большие операции:<br>
                                Общая хирургия: гастрэктомия, панкреатэктомия, колэктомия резекция желудка
                                или кишечника, осложненная аппендэктомия, холецистэктомия по экстренным
                                показаниям, ампутация бедра, бариатрические операции<br>
                                Гинекология/акушерство: экстирпация матки, кесарево сечение, ампутация
                                матки<br>
                                Травматология/ортопедия: остеосинтез бедра, протезирование суставов,
                                остеосинтез костей голени, плановые операции на позвоночном столбе<br>
                                Урология: чреспузырная аденомэктомия, экстирпация мочевого пузыря,
                                нефрэктомия с лимфоаденэктомией и/или удалением опухолевого тромба из НПВ<br>
                                Нейрохирургические операции на головном и спинном мозге<br>
                                Сердечно-сосудистая хирургия: артериальная реконструкция, аорто-коронарное
                                шунтирование<br>
                                Комбустиология: некрэктомия ожоговых ран на площади свыше 10%
                                поверхности тела, аутодермопластика свыше 15% поверхности тела<br>
                                Малые операции<br>
                                Общая хирургия: плановая холецистэктомия, аппендэктомия, грыжесечение<br>
                                Гинекология/акушерство: роды/аборт<br>
                                Травматология/ортопедия: вмешательство по поводу деформации стопы,
                                артроскопия коленного сустава<br>
                                Урология: трансуретральная аденомэктомия<br>
                                Сосудистая хирургия: флебэктомия, стволовая лазерная или радиочастотная
                                облитерация, кроссэктомия при восходящем тромбофлебите поверхностных вен<br>
                                Комбустиология: некрэктомия ожоговых ран на площади до 10%.<br><br>
                                <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                            aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                            class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                                <p><a name="aMajorBleedScore"></a>Шкала <b>Major Bleeding Score</b> - оценка риска
                                    большого кровотечения у хирургических пациентов</p>
                                    <table class="table table-sm table-hover">
                                        <thead class="thead-light">
                                          <tr>
                                            <th scope="col-10">Фактор риска</th>
                                            <th scope="col-2">Баллы</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>кровотечение на момент осмотра</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>предшествующее массивное кровотечение</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>нелеченая коагулопатия</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>тяжелая почечная или печеночная недостаточность</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>тромбоцитопения</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>инсульт в последние 30 дней</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>неконтролируемая артериальная гипертензия</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>текущее применение антикоагулянтов, антиагрегантов или тромболитических
                                              препаратов</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>люмбальная пункция, эпидуральная или спинномозговая анестезия за 4 ч до или
                                              в течение 12 ч после операции</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>панкреатодуоденальная резекция</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>резекция печени</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>операция на сердце</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>пульмонэктомия или расширенная резекция легкого</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                            <td>операции на головном или спинном мозге</td>
                                            <td>1</td>
                                          </tr>
                                          <tr>
                                          <td class="bg-light" colspan="2"><b>Сумма баллов < 1 - низкий риск ≥ 1 - высокий риск</b></td>
                                        </tr>      
                                        </tbody>
                                      </table>
                                    <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                                aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                                class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>


                                    <p><a name="aTraumRiskVTERU"></a>Шкала <b>риска ВТЭО в травматологии</b></p>
                                    в целом идентична модифицированной шкале качественной оценки риска ВТЭО в хирургии, за
                                    исключением того, что учитывает дополнительно факторы риска:<br>
                                    воспаление суставов нижних конечностей (артрит), остеомиелит<br>
                                    общая анестезия<br>
                                    дегидратация<br><br>
                                    <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                                aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                                class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                                    <p><a name="aTraumBleedRiskRU"></a>Модифицированная <b>шкала оценки риска
                                            кровотечений
                                            при больших травматологических вмешательствах.</b></p>
                                            <table class="table table-sm table-hover">
                                                <thead class="thead-light">
                                                  <tr>
                                                    <th scope="col-10">Фактор риска</th>
                                                    <th scope="col-2">Баллы</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td>предшествующее массивное кровотечение</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>тяжелая почечная недостаточность</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>текущее применение антикоагулянтов, антиагрегантов или тромболитических препаратов</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>трудно контролируемое кровотечение во время текущего оперативного лечения
                                                      /обширность
                                                      хирургического вмешательства</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td class="bg-light" colspan="2"><b>Сумма баллов < 1 - низкий риск ≥ 1 - высокий риск</b></td>
                                                  </tr>      
                                                          </tbody>
                                              </table>
                                        <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                                    aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                                    class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>


                                        <p><a name="aGreenTopGuideline37a"></a><b>RCOG GreenTopGuideline37a</b> Risk
                                            factors for VTE</p>
                                            <table class="table table-sm table-hover">
                                                <thead class="thead-light">
                                                  <tr>
                                                    <th scope="col-10">Tick</th>
                                                    <th scope="col-2">Score</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td class="bg-light" colspan="2">Pre-existing risk factors</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Previous VTE (except a single event related to major surgery)</td>
                                                    <td>4</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Previous VTE provoked by major surgery</td>
                                                    <td>3</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Family history of unprovoked or estrogen-related VTE in first-degree
                                                      relative</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Known high-risk thrombophilia</td>
                                                    <td>3</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Known low-risk thrombophilia (no VTE)</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Medical comorbidities e.g. cancer, heart failure; active systemic lupus
                                                      erythematosus, inflammatory polyarthropathy or inflammatory bowel disease;
                                                      nephrotic syndrome; type I diabetes mellitus with nephropathy; sickle cell
                                                      disease; current intravenous drug user</td>
                                                    <td>3</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Age (> 35 years)</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Obesity</td>
                                                    <td>1 or 2b</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Parity ≥ 3</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Smoker</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Gross varicose veins</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td class="bg-light" colspan="2"> Obstetric risk factors</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Pre-eclampsia in current pregnancy</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>ART/IVF (antenatal only)</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Multiple pregnancy</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Caesarean section in labour</td>
                                                    <td>2</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Elective caesarean section</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Mid-cavity or rotational operative delivery 1<br>
                                                      Prolonged labour (> 24 hours)</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>PPH (> 1 litre or transfusion)</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Preterm birth < 37+0 weeks in current pregnancy</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Stillbirth in current pregnancy</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td class="bg-light" colspan="2">Transient risk factors</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Any surgical procedure in pregnancy or puerperium except immediate repair of
                                                      the perineum, e.g. appendicectomy, postpartum sterilisation</td>
                                                    <td>3</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Hyperemesis</td>
                                                    <td>3</td>
                                                  </tr>
                                                  <tr>
                                                    <td>OHSS (first trimester only)</td>
                                                    <td>4</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Current systemic infection</td>
                                                    <td>1</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Immobility, dehydration</td>
                                                    <td>1</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                                        aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                                        class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>


                                            <p><a name="aGreenTopGuideline37aRu"></a><b>Оценка риска ВТЭО во время родов
                                                    и в послеродовом периоде</b> (модифицированная) (RCOG
                                                GreenTopGuideline37a).</p>
                                                <table class="table table-sm table-hover">
                                                    <thead class="thead-light">
                                                      <tr>
                                                        <th scope="col-10">Фактор риска</th>
                                                        <th scope="col-2">Баллы</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                      <tr>
                                                        <td class="bg-light" colspan="2">Анамнестические данные</td>
                                                      </tr>
                                                      <tr>
                                                        <td>предшествующие рецидивирующие ВТЭО</td>
                                                        <td>3</td>
                                                      </tr>
                                                      <tr>
                                                        <td>предшествующие ВТЭО, ничем не спровоцированные или связанные с приемом
                                                          эстрогенов</td>
                                                        <td>3</td>
                                                      </tr>
                                                      <tr>
                                                        <td>предшествующие спровоцированные ВТЭО</td>
                                                        <td>2</td>
                                                      </tr>
                                                      <tr>
                                                        <td>семейный тромботический анамнез</td>
                                                        <td>1</td>
                                                      </tr>
                                                      <tr>
                                                        <td class="bg-light" colspan="2">Соматические факторы</td>
                                                      </tr>
                                                      <tr>
                                                        <td>возраст > 35 лет</td>
                                                        <td>1</td>
                                                      </tr>
                                                      <tr>
                                                        <td>курение</td>
                                                        <td>1</td>
                                                      </tr>
                                                      <tr>
                                                        <td>ожирение ИМТ > 30</td>
                                                        <td>1</td>
                                                      </tr>
                                                      <tr>
                                                        <td>варикозное расширение вен ног</td>
                                                        <td>1</td>
                                                      </tr>
                                                      <tr>
                                                        <td>соматические заболевания (артериальная гипертензия, нефротический синдром,
                                                          злокачественные заболевания, сахарный диабет I типа,
                                                          инфекционно-воспалительные заболевания в активной фазе, СКВ, заболевания
                                                          легких и сердца, серповидно¬клеточная анемия)</td>
                                                        <td>2</td>
                                                      </tr>
                                                      <tr>
                                                        <td class="bg-light" colspan="2">Акушерско-гинекологические факторы</td>
                                                      </tr>
                                                      <tr>
                                                        <td>роды в анамнезе > 3</td>
                                                        <td>1</td>
                                                      </tr>
                                                      <tr>
                                                        <td>многоплодная беременность</td>
                                                        <td>1</td>
                                                      </tr>
                                                      <tr>
                                                        <td>дегидратация</td>
                                                        <td>1</td>
                                                      </tr>
                                                      <tr>
                                                        <td>затяжные роды (> 24 часов)</td>
                                                        <td>1</td>
                                                      </tr>
                                                      <tr>
                                                        <td>полостные или ротационные щипцы</td>
                                                        <td>1</td>
                                                      </tr>
                                                      <tr>
                                                        <td>экстренное кесарево сечение</td>
                                                        <td>1</td>
                                                      </tr>
                                                      <tr>
                                                        <td>длительная иммобилизация (более 4 суток)</td>
                                                        <td>1</td>
                                                      </tr>
                                                      <tr>
                                                        <td>хирургические вмешательства во время беременности или в послеродовом периоде</td>
                                                        <td>3</td>
                                                      </tr>
                                                      <tr>
                                                        <td>послеродовое кровотечение > 1 литра, требующее гемотрансфузии</td>
                                                        <td>1</td>
                                                      </tr>
                                                      <tr>
                                                        <td>преэклампсия</td>
                                                        <td>1</td>
                                                      </tr>
                                                      <tr>
                                                        <td>тяжёлая форма преэклампсии, внутриутробная гибель плода во время данной
                                                          беременности</td>
                                                        <td>2</td>
                                                      </tr>
                                                      <tr>
                                                        <td>тромбофилии (гомозиготная мутация фактора V Leiden, протромбина G20210A,
                                                          антифосфолипидный синдром, дефицит ATIII, протеина S и С)</td>
                                                        <td>3</td>
                                                      </tr>
                                                      <tr>
                                                        <td class="bg-light" colspan="2"><b>Cумма баллов 0 – 1 - низкий риск, 2 - умеренный риск, > 2 - высокий риск</b></td>
                                                      </tr>      
                                                    </tbody>
                                                  </table>
                                            <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                                        aria-hidden="true"></i>Вверх</a><a href="" class="clsExit"><i
                                                        class="fa fa-times" aria-hidden="true"></i>Выйти</a></p>

                                            <p><a name="aGreenTopGuideline37aBleedRisk"></a><b>Факторы риска
                                                    кровотечения во время беременности, родов и послеродового
                                                    периода</b> (RCOG GreenTopGuideline37a).</p>
                                            дородовые и послеродовые кровотечения<br>
                                            высокий риск массивного кровотечения (например, при предлежании
                                            плаценты)<br>
                                            гемофилия или другие диагностированные нарушения свертываемости крови
                                            (например, болезнь Виллебранда или приобретенная коагулопатия)<br>
                                            тромбоцитопения (число тромбоцитов менее 75 х 10<sup>9</sup>)<br>
                                            острый период инсульта<br>
                                            почечная недостаточность (СКФ < 30 мл/мин/1.73 м<sup>2</sup>)<br>
                                            печеночная недостаточность (протромбиновое время выше нормы или
                                                имеющееся варикозное расширение вен)<br>
                                            неконтролируемая артериальная гипертензия (САД > 200 мм рт. ст. или ДАД
                                                > 120 мм рт. ст.)<br><br>
                                            При наличии любого из факторов риск высокий<br>
                                            <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                                            aria-hidden="true"></i>Вверх</a><a href=""
                                                        class="clsExit"><i class="fa fa-times"
                                                            aria-hidden="true"></i>Выйти</a></p>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
            </div>
            <div class="col bg-secondary">
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>
    <script src="/js/vte_watch/vte_reference.js" defer></script>
</body>
<html>