<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTE outer references page</title>
  </head><body>
    <a name="top"></a>
    <%- include('../partials/header_2') %>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col bg-secondary">
            </div>
            <div class="wCol col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
              <p><a href="http://docs.cntd.ru/document/1200119183" target="_blank">ГОСТ Р 56377-2015 Клинические рекомендации (протоколы лечения). Профилактика тромбоэмболических синдромов</a></p>
              <p><a href="http://webmed.irkutsk.ru/doc/pdf/pe2015.pdf" target="_blank">Российские клинические рекомендации по диагностике, лечению и профилактике венозных тромбоэмболических осложнений, 2015</a></p>
              <p><a href="http://webmed.irkutsk.ru/doc/pdf/peortoped.pdf" target="_blank">Профилактика венозных тромбоэмболических осложнений в травматологии и ортопедии. Российские клинические рекомендации, 2011</a></p>
              <p><a href="http://www.oncology.ru/specialist/treatment/symptomatic/thromboembolic_disorders/recommendations.pdf" target="_blank">Российские клинические рекомендации по профилактике и лечению венозных тромбоэмболических осложнений (ВТЭО) у онкологических больных, 2012</a></p>
              <p><a href="https://mz.mosreg.ru/upload/iblock/1fc/venoznye-oslozhneniya.pdf" target="_blank">Клинические рекомендации (протокол). Профилактика венозных тромбоэмболических осложнений в акушерстве и гинекологии, 2014</a></p>
              <p><a href="https://www.jnmp.ru/jour/article/view/320/389" target="_blank">Венозные тромбоэмболические осложнения при термической травме (обзор литературы).<br>
                В.С. Борисов, 2016</a></p>
              <p><a href="https://www.rcog.org.uk/globalassets/documents/guidelines/gtg-37a.pdf" target="_blank">Reducing the Risk of Venous Thromboembolism during Pregnancy and the Puerperium. Green-top Guideline No. 37a April 2015</a></p>
              <p><a href="https://europeanvenousforum.org/wp-content/uploads/2015/02/IUA_Guidelines_2013.pdf" target="_blank">Prevention and Treatment of Venous thromboembolism. International Consensus Statement. Int Angiol. 2013 Apr;32(2):111-260</a></p>
              <p><a href="https://www.sign.ac.uk/assets/sign122.pdf" target="_blank">Prevention and management of venous thromboembolism. A national clinical guideline, 2010</a></p>
              <p><a href="https://www.hilarispublisher.com/open-access/thromboembolic-prophylaxis-in-neurosurgical-practice-a-review-2165-7939-4-199.pdf" target="_blank">Thromboembolic Prophylaxis in Neurosurgical Practice: A Review Jertske NM Lukassen, Justus L Groen, Wilco C Jacobs and Carmen LA Vleggeert-Lankamp. Department of Neurosurgery, Leiden University Medical Center, Leiden, The Netherlands, J Spine 2014, 4:1</a></p>
              <p><a href="https://ascopubs.org/doi/10.1200/JCO.19.01461" target="_blank">Venous Thromboembolism Prophylaxis and Treatment in Patients With Cancer: American Society of Clinical Oncology Clinical Practice Guideline Update 2014</a></p>
              <p><a href="http://www.consultant.ru/document/cons_doc_LAW_61801/" target="_blank">Федеральный закон РФ "О персональных данных" (152-ФЗ) 2020, 2019</a></p>
              <p><a href="http://www.consultant.ru/document/cons_doc_LAW_121895/" target="_blank">Федеральный закон "Об основах охраны здоровья граждан в Российской Федерации" от 21.11.2011 N 323-ФЗ</a></p>
              <p><a href="http://www.garant.ru/hotlaw/federal/1278214/" target="_blank">Приказ МЗ РФ от 24 декабря 2018 г. 911н. Об утверждении требований к государственным информационным системам в сфере здравоохранения субъектов российской федерации, медицинским информационным системам медицинских организаций и информационным системам фармацевтических организаций</a></p>
                                            <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up"
                                                            aria-hidden="true"></i>Вверх</a><a href=""
                                                        class="clsExit"><i class="fa fa-times"
                                                            aria-hidden="true"></i>Выйти</a></p>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
            </div>
            <div class="col bg-secondary">
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>
</body>
<html>