<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VTE reference page</title>
  </head>
<body>
    <a name="top"></a>
    <%- include('../partials/header_2') %>
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col bg-secondary">
            </div>
            <div class="wCol col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
                <div id="divReference">
                    <p><a href="#about">О программе VTE Watcher</a></p>
                    <p><a href="#userResponsibility">Ответственность пользователя</a></p>
                    <!-- <p><a href="#orgRights">Права медицинской организации</a></p> -->
                    <p><a href="#advantages">Почему WTE Watcher</a></p>
                    <p><a href="#howItWorks">Как работает VTE Watcher</a></p>
                    <p><a href="vte_scales" target="_blank">Шкалы</a></p>
                    <p><a href="vte_outer_ref" target="_blank">Внешние ссылки</a></p>
                    <p><a href="#" class="clsExit"><i class="fa fa-times" aria-hidden="true"></i> Выйти</a></p>

                    <a name="about"></a>
                    <p><b>VTE Watcher</b> (далее VTEW) - веб приложение, которое прогнозирует риск вторичных
                        тромбоэмболических осложнений (ВТЭО) и дает рекомендации по их профилактике.</p>
                    <p>Программа написана для врачей, которые осознают важность профилактики ВТЭО, с целью экономии их
                        времени.</p>
                    <p>Это некоммерческая программа с открытым исходным кодом для разработчиков, которые захотят помочь
                        врачам и/или усовершенствовать качество кода.</p>
                    <p>Серверная часть VTEW написана на Node JS. Для аутентификации пользователя подключен модуль
                        passport js. За малым исключением весь код программы загружается на компьютер клиента, где и
                        происходит его выполнение.</p>
                    <p>VTEW использует cookies только для идентификации и аутентификации пользователя.</p>
                    <p>В первом приближении принцип работы VTEW идентичен таковому у кофемолки:
                        закладываем зерна, прокручиваем, высыпаем молотый кофе. Внутри ничего не остаётся. Кофемолка
                        снова готова к работе.</p>
                    <p>Для хранения вводимых данных во время цикла программы используется <i
                        data-toggle="tooltip" title="Один из основных типов веб-хранилища. В настоящее время стандарты Интернет-хранилища разработаны и предложены WWW Консорциумом (W3C). Чтобы понять, что такое localStorage, представьте, что у вас в браузере встроен объект, которым вы можете пользоваться. При этом данный объект не очищает значения, которые вы  запишете, если перезагрузить страницу или даже совсем закрыть браузер. Веб-хранилище попадает исключительно под компетенцию сценариев (скриптов) на стороне клиента. Данные интернет-хранилища не передаются на сервер.">Local
                        Storage</i> браузера, которое очищается после завершения программы.</p>
                    <p>VTEW разработана в Chrome, на других браузерах не тестировалась.</p>
                    <p>Для оперативного ответа на пожелания и обмена мнениями в программе доступен чат. Предложения по
                        улучшению работы приложения и конструктивная критика приветствуются.</p>
                    <p>Если проект будет востребован, с появлением новых утвержденных руководств по оценке риска ВТЭО,
                        или новых лекарственных средств, в пограмму будут вноситься коррективы.</p>
                    <p>VTEW использует сведения, характеризующие физиологические и биологические особенности человека,
                        по которым невозможно идентифицировать личность, т. о. VTEW не работает с <i
                            data-toggle="tooltip"
                            title="…если совокупность данных необходима и достаточна для идентификации лица, такие данные следует считать персональными данными, даже если они не включают в себя данные документов, удостоверяющих личность. При этом данные нельзя считать персональными в том случае, если без использования дополнительной информации они не позволяют идентифицировать физическое лицо… (научно-практический комментарий Роскомнадзора к ФЗ РФ 'О персональных данных' (152-ФЗ) 2020, 2019).">персональными
                            данными</i>.</p>
                    <p>VTEW не является государственной <i data-toggle="tooltip"
                            title="Медицинская информационная система (МИС) — система автоматизации документооборота для медицинских учреждений, в которой объединены Система поддержки принятия врачебных решений, электронные медицинские карты пациентов, данные медицинских исследований в цифровой форме, данные мониторинга состояния пациента с медицинских приборов, средства общения между сотрудниками, финансовая и административная информация.">медицинской
                            информационной системой</i> медицинских организаций (МИС МО) т. к. не предназначена для
                        сбора и хранения информации, необходимой для информационной поддержки медицинских работников.
                    </p>
                    <p>VTEW не хранит информации после завершения цикла выполнения и не требует применения
                        организационных и технических мер защиты информации (средства антивирусной и криптографической
                        защиты информации и средства защиты информации от несанкционированного доступа, уничтожения,
                        модификации и блокирования доступа к ней).</p>
                    <p>VTEW может быть самостоятельной и не входящей в состав МИС МО, полностью интегрированной с МИС МО
                        или являться ее частью как опция организации профилактики ВТЭО на условиях и в соответствии с
                        требованиями, установленными Правительством РФ.</p>
                    <p>Программа исповедует <i data-toggle="tooltip"
                            title="HL7 (англ. Health Level 7 — «Седьмой уровень») — стандарт обмена, управления и интеграции электронной медицинской информации. «Седьмой уровень» — аналогия с высшим уровнем коммуникационной модели открытых систем (OSI). Седьмой уровень поддерживает выполнение таких задач как: структурирование передаваемых данных, возможности проектирования систем, достижение согласованности передач, безопасность, идентификация участников, доступность.">HL7</i>
                        стандарт обмена, управления и интеграции электронной медицинской информации.</p>
                    <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up" aria-hidden="true"></i> Вверх</a><a
                            href="" class="clsExit"><i class="fa fa-times" aria-hidden="true"></i> Выйти</a></p>

                            <a name="userResponsibility"></a>
                            <p>Для регистрации пользователь указывает адрес эл. почты и пароль достаточного уровня
                            защищенности. Регистрируясь в программе, пользователь подтверждает, что он врач с действующим сертификатом специалиста и что он несет личную ответственность за использование, сохранность и конфиденциальность данных, полученных в результате работы приложения.</p>
    
                    <p>Работая с VTEW, пользователь оперирует сведениями о здоровье и диагнозе пациента, иными
                        сведениями, полученными при его медицинском обследовании и лечении, которые составляют <i
                            data-toggle="tooltip"
                            title="Врачебная тайна — медицинское, правовое, социально-этическое понятие, представляющее собой запрет медицинскому работнику сообщать третьим лицам информацию о состоянии здоровья пациента, диагнозе, результатах обследования, самом факте обращения за медицинской помощью и сведения о личной жизни, полученных при обследовании и лечении. Запрет распространяется также на всех лиц, которым эта информация стала известна в случаях, предусмотренных законодательством.">врачебную
                            тайну.</i> Поэтому обязательным условием работы с VTEW является наличие у пользователя добровольного согласия пациента на обработку персональных данных.</p>
                    <p>Во время цикла выполнения VTEW защита данных составляющих врачебную тайну, осуществляется
                        пользователем, который исключает доступ к компьютеру посторонних лиц.</p>
                    <p>В случае самостоятельного сохранения результатов работы VTEW, пользователь несет полную
                        ответственность за защиту сведений, составляющих врачебную тайну от неправомерных действий
                        в отношении такой информации.</p>

                        <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up" aria-hidden="true"></i> Вверх</a><a
                            href="" class="clsExit"><i class="fa fa-times" aria-hidden="true"></i> Выйти</a></p>

                    <a name="advantages"></a>
                    <p>VTEW реализует комплексную оценку риска ВТЭО у пациента вне рамок той или иной медицинской
                        специальности. Например, пациенту хирургического стационара с «легкой» хирургической и
                        «серьезной» терапевтическую патологией возникает необходимость одновременного применения шкал
                        Padua и Caprini, что и делает программа.</p>
                    <p>VTEW определяет препараты для профилактики ВТЭО, которые можно использовать у данного пациента,
                        рекомендует стандартные профилактические дозы и средние сроки курса профилактики данным
                        препаратом, с учетом ИМТ, возраста, СКФ, имеющейся патологии, беременности и других параметров.
                        VTEW учитывает переход с препаратов одной группы на другую. Также VTEW определяет перечень
                        обследований, которые следует выполнять при назначении того или иного лек. средства. </p>
                    <p>На выходе VTEW предоставляет пользователю проект листа назначений профилактики ВТЭО и согласия на
                        профилактику ВТЭО. Лист назначения и согласие после проверки можно распечатать. Если пользователь желает сохранить файлы, в настройках принтера доступна опция «сохранить как PDF файл».</p>
                        <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up" aria-hidden="true"></i> Вверх</a><a
                            href="" class="clsExit"><i class="fa fa-times" aria-hidden="true"></i> Выйти</a></p>

                            <a name="howItWorks"></a>
                            <p>VTEW требует тщательности и правдивости при вводе информации. Например, вес пациента лучше не
                        определять «на глаз», то же касается роста, возраста и т. д. От того, насколько полно собран
                        анамнез жизни и заболевания пациента, полностью зависят точность результата.</p>
                    <p>Интерфейс программы предоставляет два вида встроенных подсказок.</p>
                    <p>В первом случае подсказки служат для более подробного раскрытия смысла предложения или абзаца.
                        Если в конце фразы предложения имеется многоточие (<b>…</b>) , при клике на него появляется
                        текст подсказки. Чтобы скрыть справку, надо кликнуть на её тексте. Пример: В форме факторов
                        риска во вкладке «артериальная гипертензия» имеется пункт «неконтролируемая артериальная
                        гипертензия…». Кликните на троеточие в программе.</p>
                    <p>Во втором случае используются <i data-toggle="tooltip"
                            title="Tooltip - интерактивный элемент, при наведении на который появляется подсказка с текстом">tooltips</i>.
                        Наведите курсор на последнее слово предыдущего предложения.</p>
                    <p>Панель навигации.</p>
                    <p><i class="fa fa-home" aria-hidden="true"></i> - элемент выполняет переход к начальной странице,
                        прерывает программу и позволяет начать цикл выполнения сначала.</p>
                    <p><i class="fa fa-user-md" aria-hidden="true"></i> - элемент выполняет переход к форме "Профиль
                        пользователя". </p>
                    <p>Форма "Профиль пользователя" - полезная опция программы. Данные профиля хранятся в Local
                            Storage. Профиль доступен только тому пользователю, под логином которого был
                        создан. Профиль можно удалять, изменять. Данные профиля не "уходят" с компьютера клиента. Иметь
                        профиль полезно потому, что в листе назначений и согласии поля с фамилией врача, названием
                        организации и т. д. заполнит программа. Впрочем, не имея профиля, пользователь может внести все
                        данные на этапе правки.</p>
                    <p><i class="fa fa-chevron-left" aria-hidden="true"></i> - возврат в предыдущую форму.</p>
                    <p><i class="fa fa-question" aria-hidden="true"></i> - справка.</p>
                    <p>Форма "Антропометрические даные пациента". Следует установить флажок "Мужской пол" до перехода к
                        заполнению медицинского профиля пациента, потому что чекбокс блокируется.</p>
                    <p>Чтобы получить доступ к программе, надо зарегистрироваться на сайте © SmartMedInterface, на
                        навигационной панели найти выпадающее меню "Разделы сайта", выбрать вкладку "Программы", выбрать
                        программу.</p>
                        <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up" aria-hidden="true"></i> Вверх</a><a
                            href="" class="clsExit"><i class="fa fa-times" aria-hidden="true"></i> Выйти</a></p>

                    <p>Медицинский профиль пациента позволяет выбрать все профили, по которым пациент нуждается в
                        оценке риска ВТЭО. Для выбора нескольких профилей нажать клавишу Ctrl и кликнуть ЛКМ на нужном
                        пункте меню. Данное действие очень важно, т. к. именно выбранные пункты подключают шкалы для
                        исследования риска ВТЭО. При выборе какого либо хирургического профиля появляется чекбокс
                        «оперативное лечение». Если планируется операция, следует установить флажок. Это действие
                        открывает доступ к форме выбора метода оперативного лечения. Если у пациента планируется
                        манипуляция, связанная с высоким риском кровотечения при профилактике ВТЭО, также следует
                        установить флажок на чекбоксе «манипуляции с высоким риском кровотечения» И наконец, если
                        пользователь не планирует оценивать риск кровотечения у данного пациента при профилактике ВТЭО,
                        следует снять флажок с чекбокса «Учитывать риск кровотечения»</p>
                    <p>Форма "Медицинский профиль пациента". Для того, чтобы выделить несколько мед. профилей, следует
                        предварительно нажать клавишу <kbd>ctrl</kbd>.</p>
                    <p>Медицинские профили по которым обследуется пациент: терапия, фибрилляция предсердий, общая
                        хирургия, травматология, нейрохирургия, урология, комбустиология, сердечно-сосудистая хирургия,
                        онкология, акушерство и гинекология.</p>
                    <p>Разделы хирургии, которые используют общехирургические шкалы риска ВТЭО, например ЛОР,
                        офтальмология, трансплантология и т. д. , включены в раздел «общая хирургия».</p>
                    <p>Если пациенту планируется оперативное лечение, следует установить соответствующий флажок.</p>
                    <p>Если планируются инвазивные манипуляции, например пункции паренхиматозных органов, установка в/в
                        или в/а катетера, следует установить флажок "Манипуляции с высоким риском кровотечения".</p>
                    <p>Флажок "Учитывать риск кровотечения" по умолчанию установлен. Если пользователь уверен, что риск
                        кровотечения при профилактике ВТЭО будет низким, он может снять значок. Это облегчит работу
                        пользовател за счет уменьшения числа факторов риска для анализа.</p>
                        <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up" aria-hidden="true"></i> Вверх</a><a
                            href="" class="clsExit"><i class="fa fa-times" aria-hidden="true"></i> Выйти</a></p>

                    <p>Форма оперативного лечения организована таким образом, что в каждом разделе хирургии, имеющемся в
                        медицинском профиле, предлагается список наиболее часто выполняющихся оперативных вмешательств с
                        известным риском ВТЭО. Если операция отсутствует в списке, следует создать профиль вмешательства
                        самостоятельно, указав название операции и её сложность.</p>
                    <p>Дата оперативного вмешательства указывается одна, для той операции, которая определяет срок
                        начала профилактики ВТЭО. Это сделано потому, что курс профилактики ВТЭО в листе назначений
                        расчитывается примерно на две недели, и, как правило, за это время выполняется одно большое
                        оперативное вмешательство. Если же, по разным причинам, будет повторное вмешательство, следует
                        вновь оценить риск ВТЭО и создать новый лист назначений.</p>
                    <p>Вид анестезиологического пособия имеет значение, так как он влияет на степень риска ВТЭО и график
                        медикаментозной профилактики ВТЭО.</p>
                    <p>Для пациенток акушерско-гинекологического профиля существует форма, в которой следует указать все
                        заявленные пункты.</p>
                    <p>Форма факторов риска.</p>
                    <p>Риск-факторы указываются максимально полно по принципу: <b>если риск-фактор есть у пациента,
                            автивирую строку</b>. Логические нестыковки не должны смущать, потому что это список, а не
                        классификация. Строки, которые исключают друг друга, нажать одновременно не получится, это
                        заложено в программу.</p>
                    <p>Рассмотрим пример. У пациента имеется заболевание легких без ИВЛ давностью до 1 месяца. В форме
                        факторов риска во вкладке «заболевания легких с дыхательной недостаточностью» есть пункт
                        «заболевание легких без ИВЛ», а также пункт «заболевания легких длительностью < 1 мес.». Надо
                            отметить оба пункта, т. к. и утверждение, что имеется болезнь легких, и что она
                            длительностью до 1 месяца - истинно в обоих случаях.</p>
                            <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up" aria-hidden="true"></i> Вверх</a><a
                                href="" class="clsExit"><i class="fa fa-times" aria-hidden="true"></i> Выйти</a></p>    
                            <p>«Ограниченная подвижность» очень важный пункт формы факторов риска. Например, инсульт без
                                парезов как фактор риска ВТЭО отличается по значению от инсульта с параличом. Поэтому,
                                отмечая, что у пациента инсульт, следует также обязательно отметить, имеется ли
                                ограничение подвижности. Программа будет учитывать сумму обоих факторов.</p>

                            <p>Форма заключение. Если риск ВТЭО низкий, выполнение программы завершится. Шкалы риска
                                ВТЭО будут выведены на экран при умеренном или высоком значении риска и выполнение
                                программы продолжится. </p>
                            <p>В этом случае польователь последовательно в несколько кликов выберет препарат для
                                профилактики ВТЭО из
                                списка возможных. Если планируемого вами препарата в списке не окажется, значит ор
                                противопоказан
                                данному пациенту. Показания и противопоказания к назначению того или иного препарата
                                программа выстраивает
                                но основании Регистра лекарственных средств России, опираясь на составленную
                                пользователем ранее
                                «модель» клинического случая.</p>
                            <p>Следуя инструкциям, что не должно вызвать затруднений, вы перейдете к составлению листа
                                назначений и заполнения согласия пациента.</p>

                            <p>Программа спросит, хотите ли вы внести данные пациента в лист и согласие. Порльзователю
                                решать самому
                                заполнять лист назначений, или VTEW это сделает самостоятельно. Это сделано для того,
                                чтобы не
                                вводить в соблазн обвинить программу в использовании данных пациента. Когда пользователь
                                вносит
                                даннные пациента по ходу программы ничего не прроисходит кроме того, что до конца цикла
                                программы
                                эти данные сохраняются в переменной которая умирает после завешения программы.</p>

                                <p>Для расчёта клиренса креатинина (КК) в программе применяются формулы Кокрофта-Голта и CKD-EPI,
                                    учитывается большее по отклонению от нормы значение.</p>
                                    <p>Желаем приятной работы!</p>
                                    <p><a href="#top" class="clsTop"><i class="fa fa-arrow-up" aria-hidden="true"></i> Вверх</a><a
                                        href="" class="clsExit"><i class="fa fa-times" aria-hidden="true"></i> Выйти</a></p>
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="col bg-secondary">
            </div>
        </div>
    </div>
    </div>

    <%- include('../partials/footer') %>
</body>
<html>