
  <div class="modal" tabindex="-1" id="modYN_1" role="dialog" role="dialog" data-backdrop="static"
  data-keyboard="false">
  <div class="modal-dialog" role="document">
      <div class="modal-content" role="document">
          <div class="modal-header">
              <!-- <span class="close">&times;</span> -->
              <h5 class="modal-title">Пользовательское соглашение</h5>
          </div>
          <div class="modal-body">
              <p>Регистрируясь на данном web ресурсе Вы подтвержаете,что являетесь врачом с имеете действующий
                  сертификат специалиста. Также Вы обязуетесь соблюдать норму ФЗ ... о защите персональных данных
                  пациента.</p>
          </div>
          <div class="modal-footer">
            <a href="/regist" class="btn btn-primary" role="button">Согласиться</a>
            <a href="/" class="btn btn-secondary" role="button">Отказаться</a>
            </div>
      </div>
  </div>
</div>
