<div class="container-fluid">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/public/img/pulmonary_embolism.jpg" alt="Logo_VTE_Watcher">
        <div class="card-body">
          <h5 class="card-title">VTE Watcher</h5>
          <p class="card-text">Программа для определения риска ВТЭО и тактики их профилактики у пациента.</p>
          <a href="/vte_patient_profile" class="btn btn-primary">Начать</a>
        </div>
  </div>