<div class="container-fluid">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/public/img/My_photo_master.jpg" alt="Logo_VTE_Watcher">
      <div class="card-body">
        <h5 class="card-title">Лапутьев Станислав Альбертович</h5>
        <p class="card-text">Автор-разработчик проекта SmartMedInterface</p>
      </div>
</div>