<header>
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
        <a href="#" class="navbar-brand" data-toggle="tooltip" title="SmartMedInterface"><img src="/public/img/My_gliph_1.png" alt="logo" width="30" height="30"></a>
                <a href="#" class="navbar-brand" data-toggle="tooltip" title="SmartMedInterface">SmartMedInterface</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" data-toggle="tooltip" title="Главная страница"><i
                            class="fas fa-home fa-lg" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Разделы сайта
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Статьи</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Разное</a>
                    </div>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about_us" data-toggle="tooltip" title="О нас"><i class="fas fa-users fa-lg"
                            aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chat" data-toggle="tooltip" title="Чат" target="_blank"><i class="fas fa-comment-dots fa-lg" aria-hidden="true"></i></a>
                </li>
            </ul>
            <ul class=" nav navbar-nav navbar-right">
                <li><a href="/login" data-toggle="tooltip" title="Вход/Регистрация"><i class="fas fa-sign-in-alt  fa-lg"
                            aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </nav>
</header>
